@font-face {
  font-family: Glacial;
  src: url("/woff/GlacialIndifference-Regular.woff2");
}

@font-face {
  font-family: Glacial;
  font-weight: bold;
  src: url("/woff/GlacialIndifference-Bold.woff2");
}
